body {
  background-color: #fafbfc;
}
.App {
  background-color: #fafbfc;
  display: flex;
}
.nav {
  width: 300px;
  background-color: #ffff;
  height: 950px;
}
.main {
  flex: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
