body {
  background-color: #fafbfc;
}
.App {
  background-color: #efefef;
  position: fixed;
  width: 100vw;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
