body {
  background-color: #fafbfc;
}
.App {
  background-color: #fafbfc;
}
.nav {
  display: grid;
  justify-content: space-around;
  line-height: 3px;
  padding-top: 20px;
}
.dash {
  display: flex;
  align-items: center;
  padding-left: 10px;
  color: grey;
}
.set:hover {
  margin-top: 40px;
  border-radius: 8px;
  background-color: #5d5fef;
  color: #fafbfc;
  height: 40px;
  width: 180px;
}
.sales:hover {
  margin-top: 40px;
  border-radius: 8px;
  background-color: #5d5fef;
  color: #fafbfc;
  height: 40px;
  width: 180px;
}
.dark:hover {
  margin-top: 40px;
  border-radius: 8px;
  background-color: #5d5fef;
  color: #fafbfc;
  height: 40px;
  width: 180px;
}
.pay:hover {
  margin-top: 40px;
  border-radius: 8px;
  background-color: #5d5fef;
  color: #fafbfc;
  height: 40px;
  width: 180px;
}
.order:hover {
  margin-top: 40px;
  border-radius: 8px;
  background-color: #5d5fef;
  color: #fafbfc;
  height: 40px;
  width: 180px;
}
.cust:hover {
  margin-top: 40px;
  border-radius: 8px;
  background-color: #5d5fef;
  color: #fafbfc;
  height: 40px;
  width: 180px;
}
.invent:hover {
  margin-top: 40px;
  border-radius: 8px;
  background-color: #5d5fef;
  color: #fafbfc;
  height: 40px;
  width: 180px;
}
.top:hover {
  margin-top: 40px;
  border-radius: 8px;
  background-color: #5d5fef;
  color: #fafbfc;
  height: 40px;
  width: 180px;
}
.fore:hover {
  margin-top: 40px;
  border-radius: 8px;
  background-color: #5d5fef;
  color: #fafbfc;
  height: 40px;
  width: 180px;
}
.bord:hover {
  margin-top: 40px;
  border-radius: 8px;
  background-color: #5d5fef;
  color: #fafbfc;
  height: 40px;
  width: 180px;
}
.lead:hover {
  margin-top: 40px;
  border-radius: 8px;
  background-color: #5d5fef;
  color: #fafbfc;
  height: 40px;
  width: 180px;
}
.bord {
  border-radius: 8px;
  background-color: #5d5fef;
  color: #fafbfc;
  height: 40px;
  width: 180px;
}
.sign {
  padding-left: 10px;
  display: flex;
  align-items: center;
  height: 40px;
  width: 180px;
}
.sign h1 {
  color: #5d5fef;
  font-size: medium;
  font-weight: 400;
}
.sign .material-symbols-outlined {
  padding-right: 20px;
  color: #5d5fef;
}
.dash .material-symbols-outlined {
  padding-right: 20px;
}
.dash h1 {
  font-size: medium;
  font-weight: 400;
}
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile .material {
  margin-right: 10px;
  border-radius: 7px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px;
  border-style: solid;
  border-color: #5d5fef;
}
.material .material-symbols-outlined {
  color: #5d5fef;
}
.usn {
  line-height: 1px;
}
.logo .material-symbols-outlined {
  color: #5d5fef;
}
.lang {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lang img {
  width: 18px;
  margin: 5px;
}
.noti {
  margin-left: 30px;
  background-color: rgba(255, 231, 190, 0.397);
  border-radius: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.noti .material-symbols-outlined {
  color: rgb(247, 203, 94);
}
.lang select {
  width: 100px;
  border: none;
}
.input {
  width: 400px;
  background-color: rgba(243, 243, 243, 0.79);
  height: 45px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.inp {
  margin-left: 10px;
  border: none;
  background-color: rgba(243, 243, 243, 0.79);
  width: 300px;
  height: 40px;
}
.logo {
  display: flex;
}
.sub {
  display: flex;
}
.taskbar {
  background-color: white;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: space-around;
  display: grid;
  grid-template-columns: 1.07fr 1.5fr 1.5fr 1fr 1fr;
}
.nav {
  width: 300px;
  background-color: #ffff;
  height: 865px;
}
.main {
  flex: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
